@model RSSReader.ViewModels.RSSFeedItemList
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">Settings</div>
            <div class="panel-body">
                <form class="form-group" method="post" asp-action="Index" asp-controller="Home" enctype="multipart/form-data">
                    <div>
                        <label for="FeedUrl">RSS Feed url:</label>
                        <input type="text" name="FeedUrl" class="form-control" value=@Model.LastFeedUrl/>
                    </div>
                    <div class="checkbox">
                        <label>
                            @Html.CheckBox("DisplayTitle", true)
                            Diplay Title
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            @Html.CheckBox("DisplayLink", false)
                            Diplay Link
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            @Html.CheckBox("DisplayContent", true)
                            Diplay Content
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            @Html.CheckBox("DisplayDate", false)
                            Diplay Date
                        </label>
                    </div>
                    <div>
                        <input type="submit" value="Load" class="btn btn-primary btn-sm" />
                    </div>
                </form>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                @if (Model.UrlIsValid) {
                    @foreach (var url in Model.FeedUrlList) 
                    {
                        <div>@url</div>
                    }
                }
            </div>
        </div>
    </div>
    <div class="col-md-9">
        @if (Model.UrlIsValid)
        {
            <div class="panel-group">
                @foreach (var item in Model.ItemList)
                {
                    <div class="panel panel-primary">
                        @if (Model.DisplayTitle)
                        {
                            <div class="panel-heading">@item.TitleStr</div>

                        }
                        <div class="panel-body">
                            @if (Model.DisplayContent)
                            {
                                <div>
                                    @Html.Raw(@item.ContentStr)
                                </div>
                            }
                        </div>
                        @if (Model.DisplayLink || Model.DisplayDate)
                        {
                            <div class="panel-footer">
                                @if (Model.DisplayLink)
                                {
                                    <div>
                                        <a href=@item.LinkStr>@item.LinkStr.Substring(0, Math.Min(item.LinkStr.Length, 60))...</a>
                                    </div>
                                }
                                @if (Model.DisplayDate)
                                {
                                    <div>
                                        @item.DateStr
                                    </div>
                                }
                            </div>
                        }
                    </div>
                }
            </div>
        }
        else
        {
            <div>
                @Model.ErrorMsg
                <hr />
            </div>}
    </div>
</div>

